.container{
    background: $azul-gradiente;
    height: 250px;
    .container-flex{
        display: flex;
        justify-content: space-around;
    }
    h1, span{
        color: $branco;
        margin-top: 40px;
        font-size: 24px;
        @include device(small){
            font-size: 20px;
        }
    }
}

.barra-pesquisa{
    display: flex;
    align-items: center;
    background: $azul-transparente;
    border: none;
    width: 56%;
    margin: 80px auto;
    height: 65px;
    border-radius: 5px;
    @include device(medium){
        width: 62%;
    }
    @include device(small){
        width: 70%;
    }
    input{
        background: transparent;
        border: none;
        margin-left: 10px;
        color: #ffffff;
        font-size: 18px;
        width: 100%;
        &:focus{
            outline: none;
        }
    }
    img{
        margin-left: 15px;
        height: 20px;
    }
}